<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJL1Fek8dI5aL8zI5U8K2U5DUPz1KCUCkDRHRj5gF"
          crossorigin="anonymous">
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="mb-3">
    <label for="month" class="form-label">Months</label>
    <select name="month" id="month" class="form-select" th:field="*{month}">
        <option th:each="m : ${months.keySet()}"
                th:value="${m}"
                th:utext="${months.get(m)}">
        </option>
    </select>
</div>


<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYIzcLA8N+NtUVF0sA7MSxP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>