<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJL1Fek8dI5aL8zI5U8K2U5DUPz1KCUCkDRHRj5gF"
          crossorigin="anonymous">
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<a href="/wishlist/new" th:href="@{/wishlist/new}" class="btn btn-outline-secondary text-center">New Wishlist Items</a>

<div class="container my-5">
    <h2 class="mb-4">Your Wishlist</h2>

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Priority</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${wishlist}">
            <td th:text="${item.title}">Title</td>
            <td th:text="${item.isbn}">ISBN</td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYIzcLA8N+NtUVF0sA7MSxP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>